<%= form_with url: moneys_path do |f| %>
  <div>
    <%= f.label :name, Money.human_attribute_name(:name) %><br>
    <%= f.text_field :name, placeholder: '(例)自動販売機' %>
  </div>
  <div>
    <%= f.label :yen, Money.human_attribute_name(:yen) %><br>
    <%= f.text_field :yen, placeholder: '(例)100' %>
  </div>
<% end %>