<h1 class='name-align'><%= @user.name %>様 収支</h1>
<table border="2" width="100%">
  <tr>
    <th>ID</th>
    <th>使用年月日</th>
    <th>使用箇所</th>
    <th>いくら使ったか</th>
  </tr>
  <% @user.moneys.order('created_at desc').each do |money| %>
    <tr>
      <td class="id"><%= money.id %></td>
      <td class="created_at"><%= money.created_at.strftime('%Y/%m/%d %H:%M') %></td>
      <td class="name"><%= money.name %></td>
      <td class="yen-align"><%= "#{money.yen < 0 ? money.yen : "(#{money.created_at.strftime('%-m月/')}設定)" + money.plus_yen.to_s}円" %></td>
    </tr>
  <% end %>
</table>
<div>
  <% sql = <<-"EOS"
  SELECT 
  to_char(created_at, 'YYYY/MM/DD') AS month,
  sum(yen) as total_yen
  from money WHERE "money"."user_id" = #{@user.id}
  group by to_char(created_at, 'YYYY/MM/DD')
  order by month ASC;
  EOS
  %>
  <% graf = [] %>
  <% user_plus_yen = @user.moneys.sum(:plus_yen) %>
  <% ActiveRecord::Base.connection.select_all(sql).to_a.each do |a| %>
    <% user_plus_yen += a.values[1] %>
    <% graf << [a.values[0], user_plus_yen] %>
  <% end %>
  <%= area_chart graf, empty: "No data",
                       thousands: ",",
                       colors: ["#d5edd5"],
                       title: "グラフ(合計設定金額：#{@user.moneys.sum(:plus_yen)}円)",
                       xtitle: "月/日",
                       ytitle: "金額",
                       curve: false %>
</div>